@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,500;0,700;1,400&display=swap");
:root {
  --bg-color: #1f1f1f;
  --progress-line-fill: #3498db;
  --progress-line-empty: #383838; }

* {
  box-sizing: border-box;
  overflow-x: hidden; }

body {
  font-family: "Roboto", "sans-serif";
  flex-direction: column;
  gap: 1rem;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow-x: hidden;
  margin: 0; }

.wave_form {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 50rem;
  overflow: initial;
  background-color: steelblue; }
  .wave_form .container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: #fff;
    background-color: rgba(0, 0, 0, 0.4);
    padding: 48px 48px;
    border-radius: 12px;
    width: 400px; }
  .wave_form .container h1 {
    color: #fff;
    margin: 0;
    margin-bottom: 48px; }
  .wave_form form {
    overflow: initial;
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 38px; }
  .wave_form form .form-control {
    overflow: initial;
    position: relative; }
  .wave_form form input {
    border: none;
    border-bottom: 2px solid #fff;
    background-color: transparent;
    width: 100%;
    outline: none;
    color: #fff;
    font-size: 18px;
    padding: 15px 0; }
  .wave_form label {
    overflow: initial;
    position: absolute;
    top: 15px; }
  .wave_form span {
    display: inline-block;
    font-size: 18px;
    min-width: 5px;
    opacity: 0.5;
    transition: all 0.3s cubic-bezier(0.68, 0.55, 0.27, 1.55); }
  .wave_form .btn {
    color: #333;
    font-size: 18px;
    font-weight: 700;
    background-color: lightblue;
    border: none;
    border-radius: 6px;
    padding: 20px 32px;
    cursor: pointer; }
  .wave_form a.forget {
    color: #fff;
    text-decoration: none; }
  .wave_form a.register {
    color: lightblue;
    text-decoration: none; }
  .wave_form .focus-animation span {
    color: lightblue;
    transform: translateY(-25px);
    opacity: 1; }

.theme_clock {
  position: relative;
  /* .light .s::after {
  position: absolute;
  content: ' ';
  display: block;
  width: 100%;
  height: 50%;
  background-color: #fff;

  bottom: 0;
} */ }
  .theme_clock .clock {
    height: 300px;
    width: 300px;
    margin-bottom: 300px; }
  .theme_clock.light .theme {
    position: absolute;
    top: 10%;
    right: 50%;
    transform: translateX(50%);
    padding: 10px 18px;
    background-color: #000;
    color: #fff;
    border: none;
    border-radius: 3px;
    outline: none;
    cursor: pointer; }
  .theme_clock.light .dot {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 15px;
    height: 15px;
    border-radius: 100px;
    background-color: red;
    display: flex;
    align-items: center;
    justify-content: center; }
  .theme_clock.light .dot::after {
    content: " ";
    display: block;
    width: 50%;
    height: 50%;
    border-radius: 100px;
    background-color: black;
    transition-property: transform, background-color;
    transition-duration: 0.3s; }
  .theme_clock.light .s {
    position: absolute;
    top: 50%;
    left: 50%;
    width: 3px;
    height: 150px;
    background-color: red;
    z-index: -1;
    transform-origin: bottom;
    transform: translate(-50%, -100%) rotate(210deg);
    transition-property: transform, background-color;
    transition-duration: 0.3s; }
  .theme_clock.light .m {
    position: absolute;
    top: 50%;
    left: 50%;
    width: 4px;
    height: 150px;
    background-color: black;
    z-index: -1;
    transform-origin: bottom;
    transform: translate(-50%, -100%) rotate(60deg);
    transition-property: transform, background-color;
    transition-duration: 0.3s; }
  .theme_clock.light .h {
    position: absolute;
    top: 50%;
    left: 50%;
    width: 4px;
    height: 75px;
    background-color: black;
    z-index: -1;
    transform-origin: bottom;
    transform: translate(-50%, -100%);
    transition-property: transform, background-color;
    transition-duration: 0.3s; }
  .theme_clock .time {
    text-align: center;
    font-size: 48px;
    font-weight: 500; }
  .theme_clock .date {
    display: flex;
    align-items: center;
    justify-content: center; }
  .theme_clock .date .text {
    color: #7677; }
  .theme_clock .date .circle {
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 14px;
    width: 20px;
    height: 20px;
    border-radius: 100px;
    color: #fff;
    background-color: black;
    margin-left: 10px; }

.split-landing-page .container {
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center; }

.split-landing-page .playstation,
.split-landing-page .xbox {
  position: relative;
  flex: 1;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  transition: all 1s ease-in-out; }

.split-landing-page .playstation:hover,
.split-landing-page .xbox:hover {
  flex: 3; }

.split-landing-page .playstation {
  background-image: url(ps.jpg);
  background-repeat: no-repeat;
  background-size: cover; }

.split-landing-page .xbox {
  background-image: url(xbox.jpg);
  background-repeat: no-repeat;
  background-size: cover; }

.split-landing-page .playstation::before,
.split-landing-page .xbox::before {
  position: absolute;
  content: "";
  height: 100%;
  width: 100%;
  transition: all 0.3s ease-in-out; }

.split-landing-page .playstation::before {
  background-color: var(--left-bg-color); }

.split-landing-page .xbox::before {
  background-color: var(--right-bg-color); }

.split-landing-page h1,
.split-landing-page a {
  z-index: 2; }

.split-landing-page h1 {
  font-size: 54px;
  font-weight: 700;
  color: #fff;
  white-space: nowrap; }

.split-landing-page a:link,
.split-landing-page a:visited {
  border: 4px solid #fff;
  padding: 36px 48px;
  text-transform: uppercase;
  text-decoration: none;
  font-size: 20px;
  color: #fff;
  font-weight: 700;
  transition: all 0.3s ease;
  white-space: nowrap; }

.split-landing-page .playstation a:focus,
.split-landing-page .playstation a:hover {
  background-color: var(--right-bg-color); }

.split-landing-page .xbox a:focus,
.split-landing-page .xbox a:hover {
  background-color: var(--left-bg-color); }

.scroll-animation {
  overflow-x: initial;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 2rem; }
  .scroll-animation .content {
    overflow-x: initial;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 1rem;
    /* line-height: 120px; */
    /* text-align: center; */
    width: 300px;
    height: 120px;
    background-color: steelblue;
    color: #fff;
    font-size: 20px;
    border-radius: 12px;
    box-shadow: 4px 10px 5px rgba(0, 0, 0, 0.2);
    transition: transform 0.3s ease-out; }
  .scroll-animation .content:nth-of-type(odd) {
    transform: translateX(100%); }
  .scroll-animation .content:nth-of-type(even) {
    transform: translateX(100%); }
  .scroll-animation .content.show {
    transform: translateX(0); }

.rotating-Navigation {
  background-color: #333;
  color: #222;
  position: relative; }
  .rotating-Navigation .container {
    max-width: 100vw;
    min-height: 100vh;
    padding: 48px;
    background-color: #fafafa;
    transition: transform 0.3s linear;
    transform-origin: top left; }
  .rotating-Navigation img {
    max-width: 100%;
    margin-bottom: 24px; }
  .rotating-Navigation .container.active {
    transform: rotate(-18deg);
    transform-origin: top left; }
  .rotating-Navigation .circle-container {
    position: absolute;
    top: -100px;
    left: -100px;
    transition: transform 0.5s linear; }
  .rotating-Navigation .container.active .circle-container {
    transform: rotate(-72deg); }
  .rotating-Navigation .circle {
    width: 200px;
    height: 200px;
    background-color: #ff7979;
    border-radius: 50%;
    position: relative;
    transition: transform 0.3s linear; }
  .rotating-Navigation .circle button {
    cursor: pointer;
    position: absolute;
    top: 50%;
    left: 50%;
    height: 100px;
    background: transparent;
    border: 0;
    font-size: 26px;
    color: #fff; }
  .rotating-Navigation .circle button.close {
    top: 60%;
    transform: rotate(90deg);
    transform-origin: top left; }
  .rotating-Navigation .circle button.open {
    left: 60%; }
  .rotating-Navigation article {
    margin-top: 100px; }
  .rotating-Navigation small {
    display: inline-block;
    margin-bottom: 26px; }
  .rotating-Navigation p {
    margin-bottom: 48px;
    line-height: 1.6;
    font-weight: 500; }
  .rotating-Navigation h3 {
    margin-bottom: 16px; }
  .rotating-Navigation nav {
    position: fixed;
    bottom: 0;
    left: -200px;
    font-size: 24px;
    color: #fafafa;
    margin-bottom: 32px; }
  .rotating-Navigation nav.active li:nth-child(1) {
    transform: translateX(180px); }
  .rotating-Navigation nav.active li:nth-child(2) {
    transform: translateX(200px); }
  .rotating-Navigation nav.active li:nth-child(3) {
    transform: translateX(220px); }
  .rotating-Navigation nav li:nth-child(1) {
    transition: transform 0.3s ease-in; }
  .rotating-Navigation nav li:nth-child(2) {
    transition: transform 0.4s ease-in; }
  .rotating-Navigation nav li:nth-child(3) {
    transition: transform 0.5s ease-in; }
  .rotating-Navigation nav li {
    list-style-type: none; }
  .rotating-Navigation nav li i {
    margin-right: 12px;
    margin-bottom: 24px; }

.random-choice-picker {
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #2b88f0;
  color: #fff; }
  .random-choice-picker .container {
    width: 60%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center; }
  .random-choice-picker .textarea {
    width: 100%;
    height: 120px;
    outline: none; }
  .random-choice-picker .tags {
    align-self: flex-start;
    text-align: start; }
  .random-choice-picker .tag {
    display: inline-block;
    background-color: orange;
    border-radius: 9px;
    padding: 6px 12px;
    margin: 18px 4px 0 0; }
  .random-choice-picker .highlight {
    background-color: #273c75 !important; }

.progress-step {
  display: flex;
  align-items: center;
  width: 100%;
  height: 100vh;
  background-color: var(--bg-color); }
  .progress-step .container {
    margin: 0 auto;
    padding: 1.6rem;
    max-width: 100%;
    width: 35rem;
    text-align: center; }
  .progress-step .container--progress {
    display: flex;
    justify-content: space-between;
    position: relative; }
  .progress-step .progress--line {
    background-color: var(--progress-line-fill);
    position: absolute;
    top: 50%;
    left: 0;
    transform: translateY(-50%);
    height: 4px;
    width: 0;
    z-index: 1;
    transition: 0.3s ease-out; }
  .progress-step .container--progress::after {
    content: "";
    background-color: var(--progress-line-empty);
    position: absolute;
    top: 50%;
    left: 0;
    transform: translateY(-50%);
    height: 4px;
    width: 100%;
    z-index: -2; }
  .progress-step .circle {
    background-color: var(--bg-color);
    border-radius: 50%;
    height: 4rem;
    width: 4rem;
    border: 3px solid var(--progress-line-empty);
    color: #e2e2e2;
    font-size: 2.4rem;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: 0.3s ease-in;
    z-index: 999; }
  .progress-step .circle.active {
    background-color: var(--bg-color);
    border-radius: 50%;
    height: 4rem;
    width: 4rem;
    border: 3px solid var(--progress-line-fill);
    color: #e2e2e2;
    font-size: 2.4rem;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: 0.3s ease-in; }
  .progress-step .btn {
    margin: 2.4rem 6px 6px 6px;
    padding: 1.2rem 2.8rem;
    border-radius: 4px;
    border: none;
    background-color: var(--progress-line-empty);
    color: #e2e2e2; }
  .progress-step .btn.active {
    margin: 2.4rem 6px 6px 6px;
    padding: 1.2rem 2.8rem;
    border-radius: 4px;
    border: none;
    background-color: var(--progress-line-fill);
    color: #e2e2e2;
    cursor: pointer; }
  .progress-step .btn:disabled {
    cursor: not-allowed; }

.kinetic-loader {
  width: 200px;
  height: 200px;
  margin: 50px;
  overflow: initial;
  position: relative; }
  .kinetic-loader::before, .kinetic-loader::after {
    content: "";
    position: absolute;
    display: block;
    width: 100%;
    height: 100%;
    background-color: darkolivegreen;
    clip-path: polygon(50% 50%, 100% 100%, 100% 0);
    animation: rotateA 2s linear infinite 0.5s; }
  .kinetic-loader::before {
    transform: rotate(90deg);
    animation: rotateB 2s linear infinite; }

@keyframes rotateA {
  0%,
  25% {
    transform: rotate(0deg); }
  50%,
  75% {
    transform: rotate(180deg); }
  100% {
    transform: rotate(360deg); } }

@keyframes rotateB {
  0%,
  25% {
    transform: rotate(90deg); }
  50%,
  75% {
    transform: rotate(270deg); }
  100% {
    transform: rotate(450deg); } }

/*increament_conter*/
.increament_conter {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100vh;
  background-color: #8e8efd;
  color: #fff; }
  .increament_conter .container {
    width: 80%;
    display: flex;
    justify-content: space-between;
    align-items: center; }
  .increament_conter .container-count {
    display: flex;
    justify-content: start;
    align-items: center;
    flex-direction: column;
    width: 300px; }
  .increament_conter i {
    color: #fff;
    font-size: 68px; }
  .increament_conter .counter {
    font-size: 50px; }
  .increament_conter .description {
    font-size: 16px; }

.hidden_search {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 50vh;
  background-image: linear-gradient(90deg, #7d5fff, #7158e2); }
  .hidden_search .container--search {
    position: relative;
    height: 100%;
    width: 100%; }
  .hidden_search .btn--search {
    position: absolute;
    top: 50%;
    left: 0;
    background-color: #fff;
    border: none;
    cursor: pointer;
    height: 50px;
    width: 50px;
    font-size: 24px;
    transition: transform 0.3s ease; }
  .hidden_search .container--search.active .btn--search {
    transform: translateX(198px); }
  .hidden_search .container--search.active .input--search {
    width: 200px; }
  .hidden_search .btn--serach:focus {
    outline: none; }
  .hidden_search .input--search {
    position: absolute;
    top: 50%;
    height: 50%;
    background-color: #fff;
    border: none;
    font-size: 18px;
    padding: 0px 18px;
    height: 50px;
    width: 0px;
    transition: width 0.3s ease; }
  .hidden_search .input--search:focus {
    outline: none; }

.drop_drag {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 90%;
  height: 400px; }
  .drop_drag .empty {
    width: 200px;
    height: 200px;
    background-color: #fff;
    border: solid #000 2px; }
  .drop_drag .hovered {
    max-width: 200px;
    max-height: 200px;
    border: dashed #fff 4px;
    background-color: #333; }
  .drop_drag img {
    width: 100%;
    object-fit: contain; }
  .drop_drag .fill {
    width: 100%;
    height: 100%;
    background-image: url("https://images.unsplash.com/photo-1677478683125-1064ea943768?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=3463&q=80");
    background-size: contain; }
  .drop_drag .hold {
    border: solid #777 5px; }

.expanding-pannel {
  max-width: 783px; }
  .expanding-pannel .container {
    max-width: 783px;
    display: flex;
    width: 90vw;
    height: 80vh;
    margin: auto;
    padding: 1.6rem;
    gap: 1rem; }
  .expanding-pannel .panel {
    background-size: auto 100%;
    background-position-x: center;
    background-repeat: no-repeat;
    position: relative;
    border-radius: 5rem;
    flex: 0.5;
    transition: flex 0.7s ease-in; }
  .expanding-pannel .panel h3 {
    font-size: 2.4rem;
    color: aliceblue;
    position: absolute;
    bottom: 2rem;
    left: 1rem;
    opacity: 0;
    transition: opcacity 0.3s 0.4s; }
  .expanding-pannel .panel.active h3 {
    opacity: 1; }
  .expanding-pannel .panel.active {
    flex: 5; }
  @media (max-width: 480px) {
    .expanding-pannel .container {
      width: 100vw; }
    .expanding-pannel .panel:nth-child(4),
    .expanding-pannel .panel:nth-child(5) {
      display: none; } }

.draw_app canvas {
  margin-top: 100px;
  border: solid #4423ee 5px;
  width: 100%;
  height: 50vh; }

.draw_app .toolbox {
  width: 100%;
  font-size: 54px;
  display: flex;
  justify-content: stretch;
  align-items: center; }

.draw_app .num {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  outline: none;
  border: none;
  font-size: 20px;
  width: 100px; }

.dadjoke {
  flex-direction: column;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 3rem;
  background-color: beige;
  border-radius: 9px;
  width: 80%;
  height: 350px;
  text-align: center;
  padding: 32px 56px; }
  .dadjoke span {
    color: #777; }
  .dadjoke p {
    font-size: 20px; }
  .dadjoke button {
    outline: none;
    color: #fff;
    background-color: purple;
    border: none;
    border-radius: 4px;
    font-size: 20px;
    padding: 16px 32px;
    cursor: pointer;
    transition: all 0.1s linear; }
  .dadjoke button:hover {
    transform: translateY(-3px);
    box-shadow: 4px 8px 4px rgba(0, 0, 0, 0.4); }
  .dadjoke button:active {
    transform: translateY(-2px);
    box-shadow: 2px 4px 4px rgba(0, 0, 0, 0.4); }

.content_placeholder {
  overflow: hidden; }
  .content_placeholder p {
    overflow: hidden;
    color: #333; }
  .content_placeholder .content {
    width: 350px;
    height: 430px;
    border-radius: 6px;
    box-shadow: 0 0 3px 1px rgba(0, 0, 0, 0.08);
    background-color: #fff; }
  .content_placeholder .container__img {
    width: 100%;
    height: 45%;
    overflow: hidden; }
  .content_placeholder .container__img img {
    width: 100%;
    border-top-left-radius: 6px;
    border-top-right-radius: 6px; }
  .content_placeholder .testimony__title {
    font-size: 20px;
    margin-top: 28px;
    padding: 0 36px; }
  .content_placeholder .testimony__description {
    font-size: 12px;
    line-height: 0.6;
    margin: 14px 0px 28px 0px;
    padding: 0 36px; }
  .content_placeholder .person {
    display: flex;
    justify-content: start;
    gap: 12px;
    align-items: center;
    padding: 0 36px; }
  .content_placeholder .avatar {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    overflow: hidden; }
  .content_placeholder .avatar img {
    overflow: hidden;
    width: 100%;
    /* height: 100%; */
    border-radius: 50%;
    object-fit: contain; }
  .content_placeholder .detail__name {
    color: #0e3e3e;
    margin-bottom: 8px; }
  .content_placeholder .detail__time {
    margin-top: 4px;
    color: #3e3e3e;
    font-size: 12px; }
  .content_placeholder .animation-blur div,
  .content_placeholder .animation-blur span {
    position: relative; }
  .content_placeholder .animation-blur span {
    white-space: nowrap; }
  .content_placeholder .animation-blur div::before,
  .content_placeholder .animation-blur span::before {
    content: " ";
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border-radius: 6px;
    background: linear-gradient(90deg, #f6f7f8 0%, #eaebec 7%, #f6f7f8 15%, #f6f7f8 100%);
    background-size: 200% 100%;
    animation: content_placeholder_loding linear 1s infinite; }
  .content_placeholder .animation-blur .container__img::before {
    border-bottom-right-radius: 0;
    border-bottom-left-radius: 0; }
  .content_placeholder .animation-blur .testimony__title::before,
  .content_placeholder .animation-blur .testimony__description::before {
    width: 300px;
    margin: 0 32px; }
  .content_placeholder .animation-blur .detail::before {
    background-color: transparent; }

@keyframes content_placeholder_loding {
  0% {
    background-position-x: 50%; }
  100% {
    background-position-x: -150%; } }

.click_button {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 30vh;
  overflow: hidden; }
  .click_button .button--click {
    border-radius: 6px;
    overflow: hidden;
    position: relative;
    color: #fff;
    background-color: #000;
    border: none;
    outline: none;
    width: 120px;
    height: 60px;
    cursor: pointer; }
  .click_button .cirlce {
    position: absolute;
    background-color: white;
    border-radius: 50%;
    width: 100px;
    height: 100px;
    transform: translate(-50%, -50%) scale(0);
    animation: click_button_scale 0.5s ease-out; }

@keyframes click_button_scale {
  to {
    transform: translate(-50%, -50%) scale(3);
    opacity: 0; } }

/* blurry-loading */
.blurry-loading {
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: relative;
  background-color: var(--progress-line-empty);
  height: 100vh;
  width: 100vw; }
  .blurry-loading .bg {
    background-image: url(https://images.unsplash.com/photo-1576161787924-01bb08dad4a4?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=2104&q=80);
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
    height: 100%;
    width: 100%;
    filter: blur(30px);
    overflow-x: hidden; }
  .blurry-loading .heading--loading {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: #fff;
    opacity: 0; }

.animation-nav {
  background-color: #ece8ef;
  background-image: linear-gradient(to bottom, #ece8ef 0%, #ece8ef 50%, #4392f1 50%, #4392f1 100%);
  height: 100vh;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0;
  overflow: hidden; }
  .animation-nav .nav {
    background-color: #fff;
    width: 80px;
    border-radius: 2px;
    box-shadow: 5px 5px 10px 1px rgba(0, 0, 0, 0.07);
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 20px 30px;
    transition: width 0.6s linear;
    overflow: hidden; }
  .animation-nav .nav.active {
    width: 350px;
    padding: 20px 30px;
    justify-content: center; }
  .animation-nav .nav ul {
    width: 0;
    opacity: 0;
    display: flex;
    gap: 10px;
    list-style-type: none;
    padding: 0;
    margin: 0;
    transition: opacity 0.6s linear, width 0.6s linear, flex 0.6s linear; }
  .animation-nav .nav.active ul {
    opacity: 1;
    width: 100%;
    display: flex;
    gap: 10px;
    list-style-type: none;
    padding: 0;
    margin: 0; }
  .animation-nav .nav ul li {
    transform: rotateY(0);
    transition: transform 0.6s linear; }
  .animation-nav .nav.active ul li {
    transform: rotateY(360deg); }
  .animation-nav .btn {
    overflow: hidden;
    z-index: 99;
    cursor: pointer;
    background: none;
    outline: none;
    border: none; }
  .animation-nav .line {
    width: 25px;
    height: 2px;
    background-color: #4392f1;
    transition: transform 0.6s linear; }
  .animation-nav .line1 {
    transform: rotate(0);
    margin-bottom: 10px; }
  .animation-nav .line2 {
    transform: rotate(0); }
  .animation-nav .nav.active .line1 {
    transform: rotate(-765deg) translateY(8px); }
  .animation-nav .nav.active .line2 {
    transform: rotate(765deg) translateY(-8.8px); }
  .animation-nav .nav ul li a {
    text-decoration: none;
    color: #333;
    transition: transform 0.6s linear; }

.audio-button {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: slateblue;
  height: 100vh; }
  .audio-button .buttons {
    text-align: center; }
  .audio-button .btn {
    font-size: 32px;
    font-weight: 600;
    color: #fff;
    background-color: #333;
    width: 200px;
    height: 120px;
    border: none;
    border-radius: 9px;
    margin: 10px;
    cursor: pointer; }
  .audio-button .btn:hover {
    background-color: #555; }

/*# sourceMappingURL=style.css.map */