@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,500;0,700;1,400&display=swap');

* {
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

:root {
  --bg-color:#1f1f1f;
  --progress-line-fill: #3498db;
  --progress-line-empty: #383838;
}

body {
  background-color: var(--bg-color);
  font-family: 'Roboto', 'sans-serif';
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  height: 100vh;
  margin: 0;
}

.container {
  margin: 0 auto;
  padding: 1.6rem;
  max-width: 80%;
  width: 35rem;
  text-align: center;
}

.container--progress {
  display: flex;
  justify-content:space-between;
  position: relative;
}

.progress--line {
  background-color: var(--progress-line-fill);
  position: absolute;
  top: 50%;
  left: 0;
  transform: translateY(-50%);
  height: 4px;
  width: 0;
  z-index: -1;
  transition: 0.3s ease-out;
}

.container--progress::after {
  content: '';
  background-color: var(--progress-line-empty);
  position: absolute;
  top: 50%;
  left: 0;
  transform: translateY(-50%);
  height: 4px;
  width: 100%;
  z-index: -2;
}

.circle {
  background-color: var(--bg-color); 
  border-radius: 50%;
  height: 4rem;
  width: 4rem;
  border: 3px solid var(--progress-line-empty);
  color:#e2e2e2;
  font-size: 2.4rem;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: 0.3s ease-in;
}

.circle.active {
  background-color: var(--bg-color); 
  border-radius: 50%;
  height: 4rem;
  width: 4rem;
  border: 3px solid var(--progress-line-fill);
  color:#e2e2e2;
  font-size: 2.4rem;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: 0.3s ease-in;
}

.btn {
  margin: 2.4rem 6px 6px 6px;
  padding: 1.2rem 2.8rem;
  border-radius: 4px;
  border: none;
  background-color: var(--progress-line-empty);
  color: #e2e2e2;
}

.btn.active {
  margin: 2.4rem 6px 6px 6px;
  padding: 1.2rem 2.8rem;
  border-radius: 4px;
  border: none;
  background-color: var(--progress-line-fill);
  color: #e2e2e2;
  cursor: pointer;
}

.btn:disabled {
  cursor: not-allowed;
}
