@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,500;0,700;1,400&display=swap');

* {
  box-sizing: border-box;
}

body {
  font-family: 'Roboto', 'sans-serif';
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  overflow-x: hidden;
  height: 100vh;
  margin: 0;
}

.container {
  display: flex;
  flex-direction: column;
  gap: 30px;
}

.content {
  display: flex;
  align-items: center;
  justify-content: center;
  /* line-height: 120px; */
  /* text-align: center; */
  width: 300px;
  height: 120px;
  background-color: steelblue;
  color: #fff;
  font-size: 36px;
  border-radius: 12px;
  box-shadow: 4px 10px 5px rgba(0, 0, 0, 0.2);
}

.content {
  transition: transform 0.3s ease-out;
}

.content:nth-of-type(odd) {
  transform: translateX(400%);
}

.content:nth-of-type(even) {
  transform: translateX(-400%);
}

.content.show {
  transform: translateX(0);
}